body {
  background-color: darkslategray;
  color: white;
}

.main {
  margin: 0;
}

.main h3 {
  text-align: center;
}

.main p {
  text-align: center;
}

.card-section {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background-color: white;
  margin: 5% 10%;
  border-radius: 15px;
}


