.Header {
  background-color: darkslategray;
  height: 200px;
  color: white;
  text-align: center;
  padding: 1%;
}

.ScoreCounter {
  float: right;
}




.CharacterBox {
  background-color:darkslategray;
  display: inline-block;
  margin: 5%;
  width: 150px;
  text-align: center;
}


